@import url('./theme.css');
@import url('./colors.css');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--tint);
  background: var(--background-color);
  font-family: var(--font-figtree), Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
